@using System.Security.Claims;
@model Email.Models.MailModels.MailModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "SendMail";
}
<div class="side-nav">
    <a class="btn btn-outline-light" style="text-align:left;" asp-action="SendMail">Send Mail</a>
    <a class="btn-outline-secondary" href="#">Primary</a>
    <a class="btn-outline-secondary" href="#">Sent</a>
    <a class="btn-outline-secondary" href="#">Promotion</a>
    <a class="btn-outline-secondary" href="#">Unwanted</a>
    <a class="btn-outline-secondary" href="#">Junk</a>   
    <a class="btn btn-outline-info" style="text-align:left;" asp-action="SignOut">Sign Out</a>
</div>

<div class="row">
    <div class="col-md-4">
        <form asp-action="SendMail" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Subject" class="control-label"></label>
                <input asp-for="Subject" style="width:200%;" class="form-control" />
                <span asp-validation-for="Subject" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Receivers" class="control-label"></label>
                <p>Example: example@gmail.com, example@gmail.com,...</p>
                <input asp-for="Receivers" style="width:200%;" class="form-control" />
                <span asp-validation-for="Receivers" class="text-danger"></span>
                @if (ViewData["EmailValidation"] != null)
                {
                    <label class="alert-danger">@ViewData["EmailValidation"]</label>
                }
            </div>
            <div class="form-group">
                <label asp-for="Message" class="control-label"></label>
                <textarea asp-for="Message" style="width:200%;height:400px;" class="form-control"></textarea>
                <span asp-validation-for="Message" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="DateTime_" value="@DateTime.Now.ToString("yyyy/MM/dd HH:mm")" type="hidden" class="form-control" />
            </div>
            <div class="form-group">
                <input asp-for="Sender" type="hidden" value="@User.FindFirst(ClaimTypes.Email).Value" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Send" class="btn btn-primary" />
                <a class="btn btn-outline-primary" asp-action="Index">Exit</a>
            </div>
        </form>
        
    </div>
</div>